* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c3c3c3;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
}

.calculator-section {
  background-color: #fff;
  color: #000;
  padding: 4.8rem 2.4rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

h1,
h3 {
  text-align: center;
}
.calculator-section h1 {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}

.lease-calculator {
  padding: 0 1.6rem 1.6rem;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
  border-bottom: 2px solid #c3c3c3;
}

.lease-calculator fieldset {
  border: none;
}
.form-section {
  margin-bottom: 4.8rem;
}
.lease-calculator label,
.lease-calculator input,
.lease-calculator select {
  display: block;
  font-weight: 450;
}
.lease-calculator input,
.lease-calculator select {
  width: 100%;
  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  border: 1px solid #c3c3c3;
  margin-top: 1.2rem;
}

.leasing-details {
  padding: 2.4rem 2.4rem 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 4.8rem;
  font-weight: 450;
}
.leasing-details h3 {
  font-size: 3.2rem;
  grid-column: 1/-1;
  margin-bottom: 3.2rem;
}

.leasing-details p {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.separator {
  width: 2px;
  height: 100%;
  background-color: #c3c3c3;
}
